body{
    background: gainsboro;
}
.w{
    margin: 0 auto;
    width: 960px;
    height: auto;
}
.w .userinput{
    margin: 0 auto;
    width: 500px;
    background: white;
    border-radius: 4px;
}
